
.container {
  font-family: "Arial";
  background-color: #ECF0F1;
}
p {
  color: #7D8081;
}
header{
width: 100%;
    margin: 15%;
    margin-top: 1%;
    padding: 1% 0 1% 1%;
    line-height: 35px;
}

header h4 {
  color: #7D8081;
}
nav{
    float: left;
margin-top: -15%;
    padding-left: 13%;

}
#about {
  color: #7D8081;
}
nav ul{
    display: flex;
    list-style: none;
}
nav ul li{
    padding:10px;

}

nav a{
    text-decoration: none;
    color: black;
}
.image{
  margin-top: -10%;
}


section{
    display: flex;
    padding-left: 15%;
    padding-top: 5%;
}

.sidebar {
  width: 30%;
}
.content {
  width: 50%;
  margin-left: 5%;
}
.icons  {
margin-top: 10%;
  display: grid;
  grid-template-columns: 180px 180px 180px 180px;
  row-gap: 12%;
  column-gap: 1%;

}
footer {

  background-color: #5B3EB5;
  margin-top: 10%;
  display: flex;
  justify-content: space-between;
padding: 3% 7% 3% 10%;
color: white;
}
footer ul li {
    line-height: 50px;
    list-style: none;

}
footer a {
    text-decoration: none;
color: white;
}
footer p{
    line-height: 30px;
    color: white;
}

.col h4 {
  font: bold 20px arial, sans-serif;
}
@media only screen and (max-width: 1300px){
    .icons{
        grid-template-columns: 150px 150px 150px;
        row-gap: 10%;
        column-gap: 10%;
    }
}
@media only screen and (max-width: 1100px){
    .icons{
        grid-template-columns: 100px 100px 100px;
        row-gap: 10%;
        column-gap: 10%;
    }
}

@media only screen and (max-width: 900px){
    .icons{
        grid-template-columns: 60px 60px 60px;
        row-gap: 10%;
        column-gap: 10%;
    }
}
